*.txt
/.venv
/log
nuitka-crash-report.xml
dist
.idea
__pycache__
*.pyc
*.pyo
.vscode
tmp
.idea
/venv
/webserver/log
webserver/utils/log
webserver/utils/frp_0.68.0_linux_amd64/log
.venv*